{% extends "base.html" %} {% block title %} Split Viewer {% endblock %}

{%block content%}
    <br />

    <h2> Upload Your Workout! </h2>
    <br />
    
    <h4> {{user.first_name}}, below is the next workout in your split:</h4>

    <br />
    <h4> Workout: {{user.get_active_split().get_curr_workout().workout_name}}</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Movement</th>
                <th scope="col"># of Sets</th>
                <th scope="col"># of Reps</th>
            </tr>

            <style>
                .table th, .table td {
                    width: 33.33%; /* Divide table width into three equal parts */
                }
            </style>
            
        </thead>

        <tbody>
            {% for mov in user.get_active_split().get_curr_workout().movements %}
                <tr>
                    <th scope="row">{{mov.mov_name}}</th>
                    <td>{{mov.sets}}</td>
                    <td>{{mov.reps}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="downloadWorkout">
        <form method='POST' action="{{ url_for('upload_workout.download_template') }}">
            <div class="form-group">
                <label for="workout_name">Select Your Workout to Upload</label>
                <select class="form-control" id="workout_name" name="workout_name">
                    <option value="" selected disabled>Choose a Workout</option>
                    {% for wokrt in user.workouts %}
                        <option value="{{ wokrt.workout_name }}"> {{ wokrt.workout_name }} </option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success">Generate Template</button>
        </form>
    </div>

    <style>
        .form-row {
            margin-bottom: 10px; /* Adds a gap between rows */
        }
    </style>

    <br/>

    <div class="enterWorkoutData">
        <h3>Enter workout data:</h3>
        <form method="POST" action="{{ url_for('upload_workout.upload') }}">
            {% if wrkt %}
                <h5> {{ wrkt.workout_name }} </h5>
                {% for m in wrkt.movements %}
                    <h6> {{ m.mov_name }} </h6>
                    {% set outer_loop = loop %}
                    <div id="sets-container-{{ loop.index }}">
                        {% for s in range(m.sets) %}
                            <div class="form-row" id="set-{{ loop.index }}-{{ loop.index0 + 1 }}">
                                <div class="col">
                                    <input type="number" class="form-control" name="weight-{{ outer_loop.index0 }}-{{ loop.index0 }}" placeholder="Weight" min="1">
                                </div>
                                <div class="col">
                                    <input type="number" class="form-control" name="reps-{{ outer_loop.index0 }}-{{ loop.index0 }}" placeholder="Reps" min="1">
                                </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" onclick="addSet({{ loop.index }})" class="btn btn-primary">Add Set</button>
                    <button type="button" onclick="removeSet({{ loop.index }})" class="btn btn-primary">Remove Set</button>
                {% endfor %}
            {% else %}
                <h5> No active workout available. Please set up a workout first. </h5>
            {% endif %}
            <br/>
            <br/>
            
            <div class="form-group" id="workoutNotes", name="workoutNotes">
                <label for="workoutNotes"> Workout Notes </label>
                <textarea class="form-control" id="workoutNotes" name="workoutNotes" rows="3"></textarea>
            </div>

            <button type="submit" id="upload-workout" class="btn btn-success">Upload Workout</button>
        </form>
    </div>
    

    <br/>
    <br/>

    <script>
        function addSet(movementIndex) {
            const container = document.getElementById(`sets-container-${movementIndex}`);
            const setIndex = container.children.length + 1;
            const newRow = document.createElement('div');
            newRow.className = 'form-row';
            newRow.id = `set-${movementIndex}-${setIndex}`;
            newRow.innerHTML = `
                <div class="col">
                    <input type="number" class="form-control" name="weight-${movementIndex}-${setIndex}" placeholder="Weight" min="1">
                </div>
                <div class="col">
                    <input type="number" class="form-control" name="reps-${movementIndex}-${setIndex}" placeholder="Reps" min="1">
                </div>`;

            container.appendChild(newRow);
        }
        
        function removeSet(movementIndex) {
            const container = document.getElementById(`sets-container-${movementIndex}`);
            if (container.children.length > 1) { // Ensure at least one set remains
                container.removeChild(container.lastChild);
            }
        }
        </script>

    

{% endblock %}